
.input__text {
    margin: 0;
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    background: #F9F9F9;
    outline: none;
    text-underline: none;
    border: none;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    box-sizing: border-box;
}

.input__text_color_red {
    color: #FF4062;
}

.input__name {
    display: block;
    padding: 20px 0 10px;
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}

@media (min-width: 768px) {
    .input__text{
        font-size: 13px;
    }
}


