.movies-cards {
	padding: 20px 10px 10px;
	box-sizing: border-box;

}

.movies-cards__list {
	position: relative;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.movies-cards__error {
	position: absolute;
	top: -20px;
	left: 15%;
	max-width: 70%;
	text-align: center;
	font-size: 11px;
	font-weight: 400;
	line-height: normal;
	color: #FF4062;
}


@media (min-width: 768px) {
	.movies-cards {
		padding: 40px 30px 10px;
	}

	.movies-cards__list {
		display: grid;
		column-gap: 30px;
		grid-template-columns: repeat(2, min-content);
		justify-content: center;
		padding: 0;
		margin: 0;
	}
}

@media (min-width: 1280px) {
	.movies-cards {
		padding: 26px 70px 28px;
	}

	.movies-cards__list {
		grid-template-columns: repeat(3, min-content);
	}
}
