.header {
    max-height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 14px;
    align-items: center;
}

.header__logo {
    height: 38px;
    width: 38px;
}

.header__auth-bar {

}

.header__button {
    color: white;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    padding: 5px 12px;
    background: none;
    border: 0;
    cursor: pointer;
}

.header__button_type_signup {
    color: black
}

.header__button_type_signin {
    border-radius: 3px;
    background-color: black;
}
