.search-form {
    height: 272px;
    box-sizing: border-box;
    padding: 0 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: space-between;
}

.search-form__container {
    position: relative;
    margin-top: 80px;
    border-radius: 9px;
    border: 0;
    background: #FDFDFD;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.08);
    max-height: 72px;
    padding: 25px 19px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.search-form__input {
    border: 0;
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    width: 100%;
}
.search-form__input:disabled {
    cursor: default;
    opacity: 0.5;
}

.search-form__search-icon {
    background: url('../../../images/search.svg');
    display: none;
    width: 34px;
    height: 34px;
    padding: 0 28px 0 0;
    box-sizing: border-box;
}

.search-form__input::placeholder {
    color: #A0A0A0;
}

.search-form__button {
    border: none;
    border-radius: 48px;
    background: #000;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    padding: 8px 12px;
    max-height: 34px;
    margin: 0;
    cursor: pointer;
    transition: opacity .3s;
}

.search-form__button:hover {
    opacity: 0.7;
}
.search-form__button:disabled {
    opacity: 0.5;
    cursor: default;
}
.search-form__button:disabled:hover {
    opacity: 0.5
}


.search-form__switch-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.search-form__switch-container_inline {
    display: none;
    border-left: 1px #CBCBCB solid;
    padding: 9px 0 9px 29px;
    margin: 0 0 0 19px;
}

.search-form__switch {
    appearance: none;
    border: 0;
    box-sizing: border-box;
    background: url("../../../images/smalltumboff.svg");
    padding: 3px 1px;
    width: 36px;
    height: 20px;
    transition: all 0.2s;
}
.search-form__error {
    position: absolute;
    left: 10px;
    bottom: -40px;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    color: #FF4062;
}

.search-form__switch:checked {
    background-image: url("../../../images/smalltumb.svg");
}
.search-form__switch:checked:disabled {
    cursor: default;
    opacity: 0.5
}

.search-form__switch:hover {
    transform: scale(1.1);
}
.search-form__switch:disabled {
    opacity: 0.5;
    cursor: default;
}
.search-form__switch:disabled:hover {
    transform: none;
}

.search-form__switch-caption {
    margin: 0 0 0 14px;
    color: #000;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
}

.search-form__divider {
    margin: 0;
    max-height: 1px;
}

@media (min-width: 768px) {
    .search-form {
        padding: 80px 30px 10px;
        height: 272px;
    }

    .search-form__switch-container {
        display: none;

    }

    .search-form__search-icon {
        display: block;

    }

    .search-form__switch-caption {
        color: #000;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .search-form__switch-container_inline {
        display: flex;
    }

    .search-form__input {
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        padding-left: 10px;
    }

    .search-form__container {
        padding: 25px 20px;
        margin: 0;
    }

    .search-form__switch-container_inline {
        padding: 9px 0 9px 20px;
    }
}


@media (min-width: 1280px) {
    .search-form {
        height: 222px;
        max-width: 1280px;
        padding: 70px 70px 10px;
    }

    .search-form__container {
        padding: 25px 30px 25px 20px;
    }

    .search-form__switch-container_inline {
        padding: 9px 0 9px 29px;
    }

}
